*{
    margin: 0;
    padding: 0;
}

.html{
    font-family:'Libre Bodoni',
    serif;
    font-size: 17px;
}

.body{
    display: grid;
    grid-template-areas:
      "header header header header"
      "main__section1 main__section1 main__section1 main__section1"
      "main__section2 main__section2 main__section2 main__section2"
      "main__section3 main__section3 main__section3 main__section3"
      "section section section section"
      "video video video video"
      "footer footer footer footer";
    grid-template-rows: 0,50fr 1,75fr 0,50fr 1,75fr 0,25fr 1fr 0,50fr;
    grid-template-columns: auto auto auto auto ;

}

.header{
    padding: 1em;
    grid-area: header;
    background-color: rgb(154, 140, 152);
    color: rgb( 242, 233, 228);
}
.header__img{
    width: 5vh;
    height: 5vh;
    text-align: center;
}

.header__t {
    padding: 1em;
    color: rgb(34, 34, 59);
    font-size: xx-large;
    text-align: center;
}

.animate__animated.animate__bounce {
    --animate-duration: 4s;
}

.header__nav {
    font-size: 1.5rem;
    text-align: center;
}

.header__nav__link {
    font-size: medium;
    color: rgb( 34, 34, 59);
}

.nav-link{
    color: rgb( 34, 34, 59);
}

.main__section1{
    grid-area: main__section1 ;
    background-color: rgb( 34, 34, 59);
}


.main__section1__img{
    width: 100%;
    height: 90vh;
}

.main__section2{
    flex-wrap: wrap;
    background-color: rgb(154, 140, 152);
    display: flex;
    grid-area: main__section2 ;
}

.main__section2__div{
    margin: auto;
    padding: 2em;
    display: flex;
    text-align: center;
    display: inline-block
}

.main__section2__titulo{
    width: 100%;
    color: rgb( 34, 34, 59);
    font-size: larger;
    text-align: center;
}

.main__section2__img{
    width: auto;
    height:10vh;
}

.main__section3{
    margin:auto;
    padding: 4em;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb( 34, 34, 59);
    grid-area: main__section3 ;
}

.main__section3__titulo{
    width: 100%;
    color: rgb( 242, 233, 228);
    font-size: larger;
    text-align: center;
}

.imagenes:hover{
    margin: 2%;
}

.section{
    flex-wrap: wrap;
    padding: 1em;
    background-color: rgb(154, 140, 152);
    grid-area: section ;
}

.section__div{
    width: 100%;
    display: flex;
}

.section__div__iconos{
    margin: auto;
    padding: auto;
    display: inline-block;
}

.section2{
    width: 100%;
    grid-area: video;
    background-color: rgb( 34, 34, 59);
    margin: auto;
    flex-wrap: wrap;
}

.video{
    width: 100%;
}


.footer {
    padding: 2em;
    background-color: rgb(34, 34, 59);
    grid-area: footer;
}

.boton{
    color: rgb(242, 233, 228);
    position: relative;
    bottom: -7%;
}

.icon{
    display: flex;
    display: inline-block;
    justify-content: right;
    animation: float 4s ease-in infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(25px);
    }

    100%{
        transform: translateY(0);
    }
}

.footer__lista{
    display: flex;
    justify-content: right;
}

.footer__ul{
    list-style: none;
    color: rgb( 242, 233, 228)
}


<!--empresa-->

.edbody{
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header header"
        "emsection1 emsection1 emsection1 emsection1"
        "emsection2 emsection2 emsection2 emsection2"
        "footer footer footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}

.empresamain__section1{
    grid-area: emsection1 ;
} 

.empresamain__section1__t{
    background-color: rgb(34, 34, 59);
    color: rgb(242, 233, 228);
    text-align: center;
}

.empresamain__section1__img{
    width: 100%;
}

.empresamain__section2{
    background-color: rgb(154, 140, 152);
    color: rgb( 34, 34, 59);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-area: emsection 2;
}

.empresamain__section2__1{
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empresamain__section2__2{
    background-color: rgb(154, 140, 152);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.empresamain__section2__2div{
    padding: 3em;
    background-color: rgba(34, 34, 59, 0.726);
    color: rgb( 242, 233, 228);
    width: 70%;
    margin: auto;
    padding: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.empresafooter__ul {
    width: 100%;
    color: rgb(242, 233, 228);
    text-align: end;
}


<!--servicios-->

.sbody{
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header header"
        "footer footer footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}

.serviciosmain__section1 {
    grid-area: smsection1 ;
}

.serviciosmain__section2__t{
    color: rgb( 34, 34, 59);
    text-align: center;
}

.serviciosmain__section1__img {
    width: 100%;
}

.serviciosmain__section2{
    padding: 4em;
    background-color: rgb(154, 140, 152);
    grid-area: smsection2 ;
    
}

.serviciosmain__section2__1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.serviciosmain__section2__t {
    padding: 1em;
    width: 100%;
    text-align: center;
}

.serviciosmain__section2__2{
    background-color: rgb(154, 140, 152);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}


.serviciosmain__section2__div {
    padding: 1em;
    background-color: rgba(34, 34, 59, 0.459);
    color: rgb( 242, 233, 228);
    width: 20%;
    margin: auto;
    padding: auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center

}

.serviciosmain__section2__img {
    width: 20vh;
    height: 10vh;
    margin: auto;
    padding: auto;
}

.serviciosfooter__ul {
    width: 100%;
    color: rgb(242, 233, 228);
    text-align: end;
}

<!--catalogo-->

.cabody{
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header header"
        "camsection1 camsection1 camsection1 camsection1"
        "camsection2 camsection2 camsection2 camsection2"
        "footer footer footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}

.catalogomain__section1 {
    grid-area: camsection1 ;
}

.catalogomain__section1__t {
    text-align: center;
}

.catalogomain__section1__img {
    width: 100%;
}

.catalogomain__section2 {
    padding: 8em;
    background-color: rgb(154, 140, 152);
    color: rgb( 34, 34, 59);
    text-align: center;
    grid-area: camsection2 ;
}



.catalogofooter__ul {
    width: 100%;
    color: rgb(242, 233, 228);
    text-align: end;
}


<!--contacto-->

.conbody{
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header header"
        "cmsection1 cmsection1 cmsection1 cmsection1"
        "cmsection2 cmsection2 cmsection2 cmsection2"
        "footer footer footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}

.contactomain__section1 {
    grid-area: cmsection1 ;
}

.contactomain__section1__t {
    background-color: rgb(34, 34, 59);
    color: rgb(242, 233, 228);
    text-align: center;
}

.contactomain__section1__img {
    width: 100%;
}

.contactomain__section2 {
    padding: 3em;
    background-color: rgb(154, 140, 152);
    color: rgb( 34, 34, 59);
    display: flex;
    justify-content: center;
    grid-area: cmsection2 ;
}

.contactomain__section2__t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contactomain__section2__form {
    padding: 2em;
    width: 30vw;
    background-color: rgba(34, 34, 59, 0.726);
    color: rgb( 242, 233, 228);
    text-align: center;
}

.contactomain__section2__info {
    padding: 2em;
    background-color: rgba(34, 34, 59, 0.726);
    color: rgb( 242, 233, 228);
    width: 30vw;
    text-align: center;
}

.contactomain__section2__map {
    background-color: rgba(34, 34, 59, 0.726);
    color: rgb( 242, 233, 228);
    width: 100%;
    text-align: center;
}

.contacto__footer__ul {
    width: 100%;
    color: rgb(242, 233, 228);
    text-align: end;
}
